<div class="container col-md-6">
    <div class="card">
        <div class="card-header">
            <h3>Agregar personas</h3>
        </div>
        <div class="card-body">
            <form action="">
                <div class="form-group">
                    <label for="">Nombre:</label>
                    <input #nombre type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label for="">Apellido:</label>
                    <input #apellidos type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label for="">Celular:</label>
                    <input #celular type="text" class="form-control">
                </div>
                <button (click)="guardar(nombre.value,apellidos.value,celular.value)" class="btn btn-outline-danger">Guardar</button>
            </form>
        </div>
    </div>
</div>